# Data Import and Cleanig

In [1]:
import sys
print("Python version information:", sys.version_info, "\n")

Python version information: sys.version_info(major=3, minor=7, micro=6, releaselevel='final', serial=0)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_json('transactions.txt', lines=True)
df.head()

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,...,echoBuffer,currentBalance,merchantCity,merchantState,merchantZip,cardPresent,posOnPremises,recurringAuthInd,expirationDateKeyInMatch,isFraud
0,737265056,737265056,5000,5000.0,2016-08-13T14:27:32,98.55,Uber,US,US,02,...,,0.0,,,,False,,,False,False
1,737265056,737265056,5000,5000.0,2016-10-11T05:05:54,74.51,AMC #191138,US,US,09,...,,0.0,,,,True,,,False,False
2,737265056,737265056,5000,5000.0,2016-11-08T09:18:39,7.47,Play Store,US,US,09,...,,0.0,,,,False,,,False,False
3,737265056,737265056,5000,5000.0,2016-12-10T02:14:50,7.47,Play Store,US,US,09,...,,0.0,,,,False,,,False,False
4,830329091,830329091,5000,5000.0,2016-03-24T21:04:46,71.18,Tim Hortons #947751,US,US,02,...,,0.0,,,,True,,,False,False

In [4]:
print('dataframe shape: {0}'.format(df.shape))

dataframe shape: (786363, 29)

In [5]:
df.dtypes

accountNumber                 int64
customerId                    int64
creditLimit                   int64
availableMoney              float64
transactionDateTime          object
transactionAmount           float64
merchantName                 object
acqCountry                   object
merchantCountryCode          object
posEntryMode                 object
posConditionCode             object
merchantCategoryCode         object
currentExpDate               object
accountOpenDate              object
dateOfLastAddressChange      object
cardCVV                       int64
enteredCVV                    int64
cardLast4Digits               int64
transactionType              object
echoBuffer                   object
currentBalance              float64
merchantCity                 object
merchantState                object
merchantZip                  object
cardPresent                    bool
posOnPremises                object
recurringAuthInd             object
expirationDateKeyInMatch       bool
isFraud                        bool
dtype: object

In [6]:
df.replace('', np.nan, inplace=True)
print(df.isnull().sum())

accountNumber                    0
customerId                       0
creditLimit                      0
availableMoney                   0
transactionDateTime              0
transactionAmount                0
merchantName                     0
acqCountry                    4562
merchantCountryCode            724
posEntryMode                  4054
posConditionCode               409
merchantCategoryCode             0
currentExpDate                   0
accountOpenDate                  0
dateOfLastAddressChange          0
cardCVV                          0
enteredCVV                       0
cardLast4Digits                  0
transactionType                698
echoBuffer                  786363
currentBalance                   0
merchantCity                786363
merchantState               786363
merchantZip                 786363
cardPresent                      0
posOnPremises               786363
recurringAuthInd            786363
expirationDateKeyInMatch         0
isFraud                          0
dtype: int64

In [7]:
print(df.columns)

Index(['accountNumber', 'customerId', 'creditLimit', 'availableMoney',
       'transactionDateTime', 'transactionAmount', 'merchantName',
       'acqCountry', 'merchantCountryCode', 'posEntryMode', 'posConditionCode',
       'merchantCategoryCode', 'currentExpDate', 'accountOpenDate',
       'dateOfLastAddressChange', 'cardCVV', 'enteredCVV', 'cardLast4Digits',
       'transactionType', 'echoBuffer', 'currentBalance', 'merchantCity',
       'merchantState', 'merchantZip', 'cardPresent', 'posOnPremises',
       'recurringAuthInd', 'expirationDateKeyInMatch', 'isFraud'],
      dtype='object')

In [8]:
df.drop(['echoBuffer', 'merchantCity', 'merchantState', 'merchantZip', 'posOnPremises', 'recurringAuthInd'], axis=1, inplace=True)

## Field Statistics

We seperate our data into the following categories and display the stats accordingly

In [9]:
cont_cols = ['creditLimit', 'availableMoney', 'transactionAmount', 'currentBalance']
disct_cols = ['accountNumber', 'customerId', 'cardCVV', 'enteredCVV', 'cardLast4Digits', 
             'transactionDateTime', 'merchantName',
       'acqCountry', 'merchantCountryCode', 'posEntryMode', 'posConditionCode',
       'merchantCategoryCode', 'currentExpDate', 'accountOpenDate',
       'dateOfLastAddressChange','transactionType',  'cardPresent',
       'expirationDateKeyInMatch', 'isFraud']

In [10]:
def col_stats(df, cols, isContinuous):
        ## Convert the type to string to display the stats
        if isContinuous:
            df1 = df[cols].describe(include = 'all')
        else:
            df1 = df[cols].astype('string').describe(include = 'all')
        df1.loc['dtype'] = df.dtypes
        df1.loc['size'] = len(df)
        df1.loc['num of null'] = df.isnull().sum()
        return df1

#### Statistics of continuous data

In [11]:
col_stats(df, cont_cols, True)

              creditLimit availableMoney transactionAmount currentBalance
count            786363.0       786363.0          786363.0       786363.0
mean         10759.464459    6250.725369        136.985791    4508.739089
std           11636.17489    8880.783989        147.725569    6457.442068
min                 250.0       -1005.63               0.0            0.0
25%                5000.0        1077.42             33.65         689.91
50%                7500.0        3184.86              87.9        2451.76
75%               15000.0         7500.0            191.48       5291.095
max               50000.0        50000.0           2011.54       47498.81
dtype               int64        float64           float64        float64
size               786363         786363            786363         786363
num of null             0              0                 0              0

#### Statistics of discrete data

In [12]:
col_stats(df, disct_cols, False)

,accountNumber,customerId,cardCVV,enteredCVV,cardLast4Digits,transactionDateTime,merchantName,acqCountry,merchantCountryCode,posEntryMode,posConditionCode,merchantCategoryCode,currentExpDate,accountOpenDate,dateOfLastAddressChange,transactionType,cardPresent,expirationDateKeyInMatch,isFraud
count,786363,786363,786363,786363,786363,786363,786363,781801,785639,782309,785954,786363,786363,786363,786363,785665,786363,786363,786363
unique,5000,5000,899,976,5245,776637,2490,4,4,5,3,19,165,1820,2184,3,2,2,2
top,380680241,380680241,869,869,593,2016-12-25T14:04:15,Uber,US,US,05,01,online_retail,03/2029,2014-06-21,2016-03-15,PURCHASE,False,False,False
freq,32850,32850,33749,33424,32946,4,25613,774709,778511,315035,628787,202156,5103,33623,3819,745193,433495,785320,773946
dtype,int64,int64,int64,int64,int64,object,object,object,object,object,object,object,object,object,object,object,bool,bool,bool
size,786363,786363,786363,786363,786363,786363,786363,786363,786363,786363,786363,786363,786363,786363,786363,786363,786363,786363,786363
num of null,0,0,0,0,0,0,0,4562,724,4054,409,0,0,0,0,698,0,0,0

## Handeling Null values in some columns

We have noticed that there are NULL values in some columns. In this part I will check if those data are missing independently on the corresponding variable 'isFraud' or not

In [13]:
null_cols = ['acqCountry', 'merchantCountryCode', 'posEntryMode', 'posConditionCode', 'transactionType']

In [14]:
def get_null_ratio(df, cols, isFraud):
    df_target = df.loc[df['isFraud'] == isFraud]
    cnt = df_target.shape[0]
    null_count = df_target.isnull().sum()
    null_ratio = [round(c/cnt,6) for key, c in null_count.iteritems() if key in cols ]
    return null_ratio

In [15]:
fraud_null_ratio = get_null_ratio(df, null_cols, True)
non_fraud_null_ratio = get_null_ratio(df, null_cols, False)
print('Column Fraud_Null_Ratio Non_Fraud_Null_Ratio')
for i in range(len(null_cols)):
    print(null_cols[i], fraud_null_ratio[i], non_fraud_null_ratio[i])

Column Fraud_Null_Ratio Non_Fraud_Null_Ratio
acqCountry 0.012 0.005702
merchantCountryCode 0.006604 0.00083
posEntryMode 0.021664 0.004891
posConditionCode 0.001772 0.0005
transactionType 0.001127 0.000884

It is clear that those data are not missing completely at random. Therefore dropping those rows may introduce extra bias to our estimate. Since above columns are all categorical, I will leave those missing data as empty.

In [16]:
df.replace(np.nan, '', inplace=True)
df.head()

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,...,accountOpenDate,dateOfLastAddressChange,cardCVV,enteredCVV,cardLast4Digits,transactionType,currentBalance,cardPresent,expirationDateKeyInMatch,isFraud
0,737265056,737265056,5000,5000.0,2016-08-13T14:27:32,98.55,Uber,US,US,02,...,2015-03-14,2015-03-14,414,414,1803,PURCHASE,0.0,False,False,False
1,737265056,737265056,5000,5000.0,2016-10-11T05:05:54,74.51,AMC #191138,US,US,09,...,2015-03-14,2015-03-14,486,486,767,PURCHASE,0.0,True,False,False
2,737265056,737265056,5000,5000.0,2016-11-08T09:18:39,7.47,Play Store,US,US,09,...,2015-03-14,2015-03-14,486,486,767,PURCHASE,0.0,False,False,False
3,737265056,737265056,5000,5000.0,2016-12-10T02:14:50,7.47,Play Store,US,US,09,...,2015-03-14,2015-03-14,486,486,767,PURCHASE,0.0,False,False,False
4,830329091,830329091,5000,5000.0,2016-03-24T21:04:46,71.18,Tim Hortons #947751,US,US,02,...,2015-08-06,2015-08-06,885,885,3143,PURCHASE,0.0,True,False,False

In [17]:
pd.to_pickle(df, 'Data/clean_data', protocol=4)